@charset "utf-8";
/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {
	body{
		background-image: none;
	}
	header {
		margin-top: 15px;
	}
	header div.logo img{
	}
	header div.logo span {
		padding-left: 10px;
		padding-top: 10px;
		width:auto;
	}
	img.teamico64{
		width: 100%;
		max-width: 520px;
		text-align: center;
		margin:auto;
	}
	.my-h1{
		text-align: center;
		line-height: 50px;
	}
	div.players-list div.player-picture {text-align: center;}
	div.players-list div.player-picture img{width:200px;}
	div.players-list div.player-info{text-align: center;}
	div.all-teams-block{height: auto;}

	div.all-teams-block{height: auto;}
	div.game-team1-ico{display: block;}
	div.game-team2-ico{display: block;}
	div.game-team1-ico img, div.game-team2-ico img{width: 100%;max-width: 72px;}
	div.error400message .image img{}
}