@charset "utf-8";
@media (min-width: 1200px) {
	body{
		
	}	
	img.teamico64{
		width: 80px;
	}
	.my-h1{
		text-align: left;
	}
	div.players-list div.player-picture img{width:150px;}
	div.players-list div.player-info{}
}