<div class="vertical-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
            <div class="alert alert-danger hidden" role="alert" id="chpasErrorBlock">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span id="chpasErrorMessage"></span>
            </div>
            
            <div class="loginwrapper login-panel">
                  <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Change password <span id="login-as-lable"></span></h3>
                  </div>
                    <div class="panel-body">
                        <form id="form-changePassword" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <input type="password" name="new_password1" id="changepasform-pas1" value="" placeholder="New Passwrod" required="required" autofocus="autofocus" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="new_password2" id="changepasform-pas2" value="" placeholder="Confirm Passwrod" required="required" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="submit" id="changePasButton" value="Change Password" class="btn btn-primary btn-lg btn-block" />
                                    <a href="#" id="changePasCancelButton" class="btn btn-lg btn-block">Cancel</a>
                                </div>
                            </fieldset>
                        </form>

                    </div>
              </div>
              </div>
          </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#changePasCancelButton").on("click", function(event){
        event.preventDefault();
        $("#changePassword").remove();
    });
    $("#form-changePassword").on('submit', function (event) {
        event.preventDefault();
        $("#chpasErrorBlock").addClass("hidden");
        
        var newPassword1 = $("#changepasform-pas1").val();
        var newPassword2 = $("#changepasform-pas2").val();
        if(!newPassword1 || newPassword1 != newPassword2){
            $("#chpasErrorMessage").text('Passwords don\'t match');
            $("#chpasErrorBlock").removeClass("hidden").hide();
            $("#chpasErrorBlock").fadeIn();
            return false;
        }
        var chpasbtnDefaultValue = $("#changePasButton").val();
        
        var data = {
            _method: 'put',
            password: newPassword1
        };
        
        $("#changePasButton").val('wait...').removeClass('btn-primary').attr('disabled', 'disabled');

        API_query('affiliate', data, 'GET', function(res){
            if(res.code==200 && res.response){
                alert('Passwrod was successfully changed');
                $("#changePassword").remove();
            }else{
                if(parseInt(res.code) == 403) {
                    var errorMessage = 'You have to be logged in to change password.';
                }else{
                    var errorMessage = res.response.message;
                }

                $("#chpasErrorMessage").html((errorMessage ? errorMessage : 'Password was not changed. Unknown error.'));
                $("#chpasErrorBlock").removeClass("hidden").hide();
                $("#chpasErrorBlock").fadeIn();
                 $("#changePasButton").val(chpasbtnDefaultValue).addClass('btn-primary').removeAttr('disabled');
            }
        });
    });
</script>